---
title: Phone Input
---
script(type='module' src='../../js/ce/ux-chi-ce/ux-chi-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-chi-ce/ux-chi-ce.js')

.test-base.-py--2 
  chi-phone-input(default-prefix='' data-cy='phone-input-base')

.test-no-label.-py--2 
  chi-phone-input(data-cy='phone-input-no-label')

.test-disabled.-py--2 
  chi-phone-input(disabled="true" data-cy='phone-input-disabled')

.test-sizes.-py--2 
  chi-phone-input(size='sm' data-cy='phone-input-sm')

.test-sizes.-py--2 
  chi-phone-input(size='md' data-cy='phone-input-md')

.test-sizes.-py--2 
  chi-phone-input(size='lg' data-cy='phone-input-lg')

.test-sizes.-py--2 
  chi-phone-input(size='xl' data-cy='phone-input-xl')
